services:
  nginx:
    container_name: nginx
    hostname: backend
    build:
      context: ./requirements/nginx
    volumes:
      - wordpress:/var/www/html
    depends_on:
      wordpress:
        condition: service_healthy
    env_file:
      - /home/cpoulain/.env_inception
    ports:
      - "80:80"
      - "443:443"
    restart: always
    networks:
      - Inception
    healthcheck:
      test: ["CMD-SHELL", "ping -c1 nginx || exit 1"]
      interval: 2s
      timeout: 10s
      retries: 5

  wordpress:
    container_name: wordpress
    hostname: wordpress
    build:
      context: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - /home/cpoulain/.env_inception
    restart: always
    networks:
      - Inception
    healthcheck:
      test: ["CMD-SHELL", "netcat -z wordpress 9000 || exit 1"]
      interval: 2s
      timeout: 10s
      retries: 5

  mariadb:
    container_name: mariadb
    hostname: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    build:
      context: ./requirements/mariadb
    env_file:
      - /home/cpoulain/.env_inception
    restart: always
    networks:
      - Inception
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -u${MDB_USER} -p${MDB_PWD} || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 10

  ftp:
    container_name: ftp
    build:
      context: ./requirements/bonus/ftp
    volumes:
      - wordpress:/var/www/html
    env_file:
      - /home/cpoulain/.env_inception
    ports:
      - "21:21"
      - "10090-10100:10090-10100"
    restart: always
    networks:
      - Inception

  adminer:
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
    env_file:
      - /home/cpoulain/.env_inception
    ports:
      - "8080:8080"
    restart: always
    networks:
      - Inception

  static_site:
    container_name: static_site
    build:
      context: ./requirements/bonus/static_site
    ports:
      - "8081:8081"
    restart: always
    networks:
      - Inception

  portainer:
    container_name: portainer
    build:
      context: ./requirements/bonus/portainer
    volumes:
      - portainer:/data
    ports:
      - "9000:9000"
    restart: always
    networks:
      - Inception

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      device: /home/cpoulain/data/mysql
      o: bind

  wordpress:
    driver: local
    driver_opts:
      type: none
      device: /home/cpoulain/data/wordpress
      o: bind

  portainer:
    driver: local
    driver_opts:
      type: none
      device: /home/cpoulain/data/portainer
      o: bind

networks:
  Inception:
    name: Inception
    driver: bridge
